.App {
  text-align: center;
}

body {
  background-color: #ffcb05; 
}

.cards-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  padding: 40px; 
}

.card {
  margin: 10px;
  padding: 20px;
  background-color: #2a75bb;
  border: solid black;
}

.hidden{
  display: none; 
}

.pika {
  height: 60px;
}
