.App {
  text-align: center;
}

body {
  background-color: #fee440; 
}

.cards-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  padding: 150px; 
}

.card {
  margin: 10px;
  padding: 20px;
  background-color: #00bbf9;
  border: solid black;
}

.hidden{
  display: none; 
}
